@tailwind base;
@tailwind components;
@tailwind utilities;


.max-w-md{
  max-width: 48rem;
}
.sm\:text-sm, .text-sm{
  font-size: unset !important;
}
.py-2 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.commonClass input{
  height: 40px;
}
